<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1" charset="UTF-8">
    <title>Admin Home Page</title>

<style>
input[type=submit]
{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #055e42;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit]:hover
{
    background-color: #208667;
}

h1
{
    color: black;
    font-family: verdana;
    font-size: 300%;
}

div
{
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 200%;
}
</style>
</head>
<body bgcolor="055e42">
<h1 style = "text-align:center;"> CTL Workshop - Admin Home Page</h1>
<div class ="col-md-12 text-center">

    <form method = "GET" th:action="@{/admin}">
        <input type = "submit" value = "Create CTL Workshop"/>
    </form>
    <form method = "GET" th:action="@{/admin}">
        <input type = "submit" value = "Edit CTL Workshop"/>
    </form>
    <form method = "GET" th:action="@{/attendance}">
        <input type = "submit" value = "Record Attendance"/>
    </form>

</div>
</body>
</html>