<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<style>
input[type=text], select
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]
{
  width: 100%;
  background-color: #055e42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover
{
  background-color: #208667;
}

div
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body bgcolor="055e42">

<h3>Event Registration Form</h3>

<div>
    <form>
        <label for="workShopName">First Name</label>
        <input type="text" id="workShopName" name="workShopName" placeholder="First Name">

        <label for="workShopDate">Last Name</label>
        <br>
        <input type="text" id="workShopDate" name="workShopDate" placeholder="Last Name">
        <br>
        <br>

        <label for="workshopTime">Email</label>
        <br>
        <input type="text" id="workshopTime" name="workshopTime" placeholder="Email">
        <br>
        <label for="workshopLocation">College</label>

        <input type="text" id="workshopLocation" name="workshopLocation" placeholder="College">
        <label for="workshopTime">Department</label>
        <br>
        <input type="text" id="email" name="workshopTime" placeholder="Department">
        <br>
        <label for="workshopTime">Position</label>
        <br>
        <input type="text" id="College" name="workshopTime" placeholder="Position">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>